@import '~bootstrap/scss/bootstrap';
@import 'resources/scss/partials/payment.scss';


header{
    height: 70px;
    padding: 0 30px;
    background-color: #4b82c0;
    .logo-title{
        font-size: 1.3rem;
    }
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    .log-ok{
        color: #9FBB73;
    }
    .text-title{
        color:black;
    }
    .bg-top-guest{
        background-color: #2388cc;
        a{
            color: white;
            text-decoration: none;
            &:hover{
                color:  white;
            }
        }
    }
    .btn-edit {
        border: 1px solid #d3bc3b;
        background-color: #ffe54c;
        &:hover{
            background-color: #bba736;

        }
    }
    .btn-show{
        border: 1px solid #376191;
        background-color: #4B82C0;
        color: white;
    }
}

.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 300px;
}

.address-result-item {
    &:hover{
        cursor: pointer;
        background-color: #9FBB73;
    }
}

.gionni {
    border: 1px solid red;
}

.gionni:focus{
    box-shadow: 0px 0px 10px red;
    border: 1px solid red;
}

.pippone {

    color: red;
    background-color: blue;
}

/* HIDE RADIO */

.img-card {
    width: 100px;
    cursor: pointer;
}
.radio-payment {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

}

//   /* IMAGE STYLES */
//   [type=radio] + img {
//     cursor: pointer;
//   }

  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }

  .aside-style{
    background-color: #3e86d8;
    width: 20%;
    .fa-bars{
        cursor: pointer;
    }
    ul{
        list-style: none;
        li{
            a{
                color: white;
                text-decoration: none;
                color: white;
                font-size: 1rem;

                &:hover{
                    border-bottom: 1px solid #89f96db0;
                }
                &.active{
                    border-bottom: 3px solid #89F96D;
                }
            }
        }
    }
  }

  main{
    height: calc(100vh - 70px);
  }

